<div>
  <br />
  <div style="display: flex; align-items: flex-start">
    <app-dropdown
      [options]="[
        { id: 1, title: 'Option A' },
        { id: 2, title: 'Option B' },
        { id: 3, title: 'Option C' },
        { id: 4, title: 'Option A1' },
        { id: 5, title: 'Option A2' },
        { id: 6, title: 'Option B1' },
        { id: 7, title: 'Option B2' },
        { id: 8, title: 'Option C1' },
        { id: 9, title: 'Option C2' },
        { id: 10, title: 'Option Test' }
      ]"
      [sourceType]="'inline'"
      [search]="true"
      style="margin-right: 20px"
    ></app-dropdown>

    <app-dropdown
      [url]="'https://json.flashy.dev/options'"
      [sourceType]="'url'"
      [search]="true"
      style="margin-right: 20px"
    ></app-dropdown>

    <app-dropdown
      [url]="'https://json.flashy.dev/options'"
      [sourceType]="'url'"
      [search]="true"
      style="margin-right: 20px"
      [disabled]="true"
    ></app-dropdown>
  </div>
</div>
